node_modules
build
*.log
size-plugin.json

.env
.env.development
.env.production

# yarn
.yarn
!.yarn/releases

# Elastic Beanstalk Files
.ebextensions/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
