@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

html,
body {
  color-scheme: dark;
  height: 100%;
  width: 80%;
  padding: 0;
  margin: 0 auto;
  background: #07070a;
  font-family: "Roboto", arial, sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1000px) {
  html,
  body {
    width: 95%;
  }
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  padding: 50px 0;
}

.shimmer {
  background-color: rgb(24, 24, 24);
  background: linear-gradient(
    to right,
    rgb(24, 24, 24) 0%,
    rgb(30, 30, 30) 50%,
    rgb(24, 24, 24) 100%
  );
  animation: shimmer 1.5s cubic-bezier(0.4, 0, 0.2, 1) 0s infinite normal
    forwards;
  background-size: 500px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}
